<!-- app/templates/dashboard/widgets/_workout_stats.html -->
<div class="widget-workout-stats">
    <div class="d-flex justify-content-around">
        <div class="text-center">
            <div class="fs-4 fw-bold">{{ workout_stats.total_workouts }}</div>
            <div class="small text-muted">Workouts</div>
        </div>
        <div class="text-center">
            <div class="fs-4 fw-bold">{{ workout_stats.total_duration }}</div>
            <div class="small text-muted">Minutes</div>
        </div>
        <div class="text-center">
            <div class="fs-4 fw-bold">{{ workout_stats.total_calories|default(0, true)|int }}</div>
            <div class="small text-muted">Calories</div>
        </div>
    </div>
</div>