{% extends 'base.html' %}

{% block title %}Login - TaskMaster App{% endblock %}

{% block content %}
<div class="login-form">
    <h2>Welcome to TaskMaster</h2>
    <p style="text-align: center; margin-bottom: 25px; color: var(--gray-color);">Enter the app password to continue</p>
    
    <form method="POST">
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" required autofocus>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 100%;">Login</button>
    </form>
</div>
{% endblock %}